<div class="modal-dialog boders">
    <div class="modal-content login-form">
        <div class="login-headers">
            <!-- <img src="/assets/image/Login-bg.png" alt=""> -->
            <h1 class="login-header-text montserrat-reg">
                PCMC SMART SARATHI</h1>
            <!-- <h1 class="login-header-text montserrat-reg" ng-show="getWhichPage() === 'forgotpwd'">Forgot Password</h1>
                    <h1 class="login-header-text montserrat-reg" ng-show="getWhichPage() === 'validateotp'">Validate OTP</h1>
                    <h1 class="login-header-text montserrat-reg" ng-show="getWhichPage() === 'resetpwd'">Reset Password</h1> -->
            <h4 class="login-header-text montserrat-reg"> Admin Portal</h4>
        </div>
        <hr />
        <div class="modal-body">

            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control mb-4" placeholder="Mobile" />
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control mb-4" placeholder="Password" />
                </div>

            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg btns">Login</button>
            </div>


            <div class="text-center">
                <select id="changelanguage" class=" btnSS">
                    <option value="" disabled selected>select</option>
                    <option value="en">English</option>
                    <option value="mar">मराठी</option>
                    <!-- <option ng-repeat="option in language" value="{{option}}">{{option}}</option> -->
                </select>
            </div>


        </div>
    </div>
</div>