/* Author      : Piyushkumar
Created At  : 1st oct 2019
Updated By  : Piyushkumar
Updated Date: 1st oct 2019
Description : Font related CSS file for pcmc admin portal. */


.font-size-1{
    font-size: 1rem;
}

.font-size-1-5{
    font-size: 1.5rem;
}
.font-size-2{
    font-size: 2rem;
}

.font-size-3{
    font-size: 3rem;
}

.checkbox-size {
    width:1000px;
    height: 1000px;
}